{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-4">Welcome 👋</h1>

    <p class="text-gray-700">
        Your Symfony + JavaFX shared backend project is ready.
    </p>
{% endblock %}
