<footer class="bg-white border-t mt-6">
     <div class="w-full max-w-3xl lg:max-w-4xl mx-auto px-4 py-4 text-center text-gray-500 text-sm">
        © {{ "now"|date("Y") }} InnerTrack — All rights reserved
    </div>
</footer>
