
/* backend/assets/styles/themes.css */

/* Light theme */
:root {
  --font-size: 16px;

  --background: #89c3d1;
  --foreground: #fafafa;

  --card: #ffffff;
  --card-foreground: #334155;

  --popover: #ffffff;
  --popover-foreground: #334155;

  --primary: #0891B2;
  --primary-foreground: #ffffff;

  --secondary: #A78BFA;
  --secondary-foreground: #ffffff;

  --muted: #F1F5F9;
  --muted-foreground: #64748B;

  --accent: #10B981;
  --accent-foreground: #ffffff;

  --destructive: #EF4444;
  --destructive-foreground: #ffffff;

  --border: #E2E8F0;

  /* Inputs */
  --input: transparent;
  --input-background: #F8FAFC;
  --switch-background: #CBD5E1;

  /* Typography */
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
    sans-serif;
  --font-weight-medium: 500;
  --font-weight-normal: 400;

  /* Ring + Charts */
  --ring: #0891B2;
  --chart-1: #0891B2;
  --chart-2: #A78BFA;
  --chart-3: #10B981;
  --chart-4: #F59E0B;
  --chart-5: #EC4899;

  /* Radii */
  --radius: 0.75rem;

  /* Sidebar */
  --sidebar: #ffffff;
  --sidebar-foreground: #334155;
  --sidebar-primary: #0891B2;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #F1F5F9;
  --sidebar-accent-foreground: #334155;
  --sidebar-border: #E2E8F0;
  --sidebar-ring: #0891B2;
}

/* Dark theme (use .dark on <html> or <body>) */
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);

  --border: oklch(0.269 0 0);

  --input: oklch(0.269 0 0);

  --ring: oklch(0.439 0 0);

  --font-weight-medium: 500;
  --font-weight-normal: 400;

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

html {
  font-family: var(--font-sans);
}
